body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  margin: 0;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 24px;
  border: 2px solid white;
}

.box.show {
  background-color: blue;
  cursor: pointer;
}

#grid {
  display: flex;
  gap: 30px;
}

#gameOverMessage {
  display: none;
  color: red;
  font-size: 36px;
  text-align: center;
  margin: 20px 0;
}

#restartButton {
  padding: 10px 20px;
  font-size: 16px;
  color: red;
  margin-top: 20px;
}
